[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/FridjofAmundsen
[access "refs/for/refs/*"]
	read = group user/FridjofAmundsen
	push = group user/FridjofAmundsen
	label-Code-Review = -2..+2 group user/FridjofAmundsen
	label-Verified = -1..+1 group user/FridjofAmundsen
	rebase = group user/FridjofAmundsen
	removeReviewer = group user/FridjofAmundsen
	submit = group user/FridjofAmundsen
[access "refs/heads/*"]
	read = group user/FridjofAmundsen
	create = group user/FridjofAmundsen
	push = +force group user/FridjofAmundsen
	pushMerge = group user/FridjofAmundsen
[access "refs/tags/*"]
	push = group user/FridjofAmundsen
	push = +force group user/FridjofAmundsen
